.container {
    height: calc(100vh - 100px);
    /* background: linear-gradient(354deg, rgba(228,228,223,1) 0%, rgba(143,143,152,1) 35%, rgba(96,56,19,1) 100%); */
    overflow: hidden;
    position: relative;
  }
  
  .arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
  }
  
  .wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out ;
  }
  
  .imgContainer {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  
  @media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }
  }